<!DOCTYPE html>
<html lang="<%= res.getLocale() %>">
    <head>
        <title>Game Bot | Monopoly</title>
        
        <meta name="theme-color" content="<%= req.color %>">

        <%- include("../utils/header") %>
    </head>
    <body>

    </body>
</html>