<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="./public/styles/styles.css">
<link rel="icon" type="image/png" href="../../public/img/logos/Logo no bg.png"/>
<script src="https://kit.fontawesome.com/22b81d2d14.js" crossorigin="anonymous"></script>
<title>Game Bot</title>