<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include("utils/header") %>
    </head>
    <body class="dark:bg-gray-primary bg-white-primary transition duration-500 ease-in-out">
        <div>
            <%- include("utils/navbar") %> 

            <%- include("utils/notif") %>
        
            <div>
                <div class="mt-10 text-center">
                    <a href="/api/discord/invite" class="group text-black dark:text-white hover:text-blurple dark:hover:text-blurple block lg:inline-block lg:mx-5">
                        <i class="fab fa-discord group-hover:animate-rotate360"></i>
                        Ajoute le bot sur <span class="font-bold text-blurple">Discord</span>
                    </a>
                    <a href="https://www.instagram.com/sudrefb/" class="text-black dark:text-white hover:gradient-instagram dark:hover:gradient-instagram hover:text-transparent dark:hover:text-transparent block lg:inline-block lg:mx-5">
                        <i class="fab fa-instagram"></i>
                        Joue sur <span class="font-bold text-transparent gradient-instagram">Instagram</span>
                    </a>
                </div>
                <div class="flex items-center justify-center mt-10">
                    <div class="dark:bg-white-primary bg-gray-primary h-0.5 w-11/12"></div>
                </div>
                <div class="grid grid-cols-1 items-center justify-center">
                    <div class="group flex items-center justify-center">
                        <div class="grid grid-cols-1 lg:grid-cols-2 bg-white-secondary dark:bg-gray-secondary h-80 w-10/12 m-10 rounded-3xl group-hover:transition duration-500 ease-in-out group-hover:rounded-md dark:group-hover:bg-gray-third group-hover:bg-white-third">
                            <div class="flex items-center justify-center">
                                <p>Image</p>
                            </div>
                            <div class="flex items-center justify-center">
                                <p>Petit texte</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-center">
                        <div class="dark:bg-white-primary bg-gray-primary h-0.5 w-11/12"></div>
                    </div>
                    <div class="group flex items-center justify-center">
                        <div class="grid grid-cols-1 lg:grid-cols-2 bg-white-secondary dark:bg-gray-secondary h-80 w-10/12 m-10 rounded-3xl group-hover:transition duration-500 ease-in-out group-hover:rounded-md dark:group-hover:bg-gray-third group-hover:bg-white-third">
                            <div class="flex items-center justify-center">
                                <p>Image</p>
                            </div>
                            <div class="flex items-center justify-center">
                                <p>Petit texte</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="flex items-center justify-center mb-10">
                    <div class="dark:bg-white-primary bg-gray-primary h-0.5 w-11/12"></div>
                </div>
                <div class="text-xl text-center dark:text-white text-black">
                    <p class="m-3">Statistiques sur <span class="text-blurple font-bold">Discord</span></p>
                    <div class="block lg:flex items-center justify-center">
                        <div class="dark:text-white text-black block lg:inline-block">
                            <p><span></%= req?.client?.servers?.cache?.size ?? "0" %></span> serveurs</p>
                        </div>
                        <div class="mx-3 w-0.5 h-3 dark:bg-white bg-dark hidden lg:inline-block">
                        </div>
                        <div class="dark:text-white text-black block lg:inline-block">
                            <p><span>< "0" %></span> utilisateurs</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>Statistiques sur Instagram</p>
                </div>
                -->
            </div>
        </div>
    </body>
</html>