<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="./public/styles/styles.css">
        <script src="https://kit.fontawesome.com/22b81d2d14.js" crossorigin="anonymous"></script>
        <title>Game Bot</title>
    </head>
    <body class="dark:bg-gray-primary bg-white-primary">
        <div>
            <%- include("utils/navbar") %> 

            <%- include("utils/notif") %>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, aspernatur incidunt. Reprehenderit, unde, aliquid exercitationem tempore ipsum distinctio tenetur aperiam illum quas magnam nisi voluptatem iure delectus vel quos autem.</p>
        </div>
    </body>
</html>