<!DOCTYPE html>
<html lang="fr" class="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="./public/styles/styles.css">
        <script src="https://kit.fontawesome.com/22b81d2d14.js" crossorigin="anonymous"></script>
        <title>Game Bot</title>
    </head>
    <body class="dark:bg-gray-primary bg-white-primary">
        <div>
            <%- include("utils/navbar") %> 

            <div class="text-center">
                <div class="group">
                    <i class="fab fa-discord font-bold group text-blurple block group-hover:animate-rotate360"></i>
                    <button class="font-bold text-blurple">Connexion avec Discord</button>
                </div>
                <div>
                    <button class="font-bold text-transparent bg-clip-text bg-gradient-to-r from-instagram-one via-instagram-three to-instagram-six">
                        <i class="fab fa-instagram"></i>
                        
                        Connexion avec Instagram (Bientôt)
                    </button>
                </div>
                <div>
                    <p>Je n'est pas de compte</p>
                </div>
            </div>
        </div>
    </body>
</html>