<!DOCTYPE html>
<html lang="<%= res.getLocale() %>">
    <head>
        <%- include("utils/header") %>
    </head>
    <body class="dark:bg-gray-primary bg-white-primary transition duration-500 ease-in-out">
        <div>
            <%- include("utils/navbar") %> 

            <div class="text-center">
                <p>On stock pas vos datas</p>
            </div>
        </div>
    </body>
</html>