<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include("utils/header") %>
    </head>
    <body class="dark:bg-gray-primary bg-white-primary">
        <div>
            <%- include("utils/navbar") %> 

            <div class="text-center">
                <p>On stock pas vos datas</p>
            </div>
        </div>
    </body>
</html>